<div class="container h full w-full flex justify-content-center aling-item-center pt-5">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
        <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Sing up</div>
        <span class="text-600 font-medium line-height-3">You have an account?</span>
        <a routerLink="/login" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Login today!</a>
        </div>

        <div>
            <label for="email1" class="block text-900 font-medium mb-2">Email</label>
            <input id="email1" type="text" placeholder="Email address" pInputText class="w-full mb-3">
            
            <label for="password1" class="block text-900 font-medium mb-2">Password</label>
            <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3">
            
            <button pButton pRipple label="Sign Up" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
</div>